* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@font-face {
  font-family: "Evolve";
  src: url("fonts/evolveBold.otf");
}

#page4 iframe {
  max-width: 800px;
  max-height: 500px;
  width: 80vw;
  height: 50vh;
  display: block;
  ;
  margin: 0 auto;
}

.section {
  width: 100vw;
  height: 100vh;
}

#page1 {
  background: linear-gradient(#e66465, #40007c);
  animation: huerotator 10s infinite;
}

#page1 h1 {
  text-align: center;
  font-family: "Evolve";
  font-size: 8em;
  color: #daff73;
  text-shadow: #fff 0 0 80px;
}

#page2 {
  background: linear-gradient(#40007c, #d2ad75);
  animation: huerotator 10s infinite;
}

#page3 {
  background: linear-gradient(#e66465, #40007c);
  animation: huerotator 10s infinite;
}

#page4 {
  background: linear-gradient(#e66465, #40007c);
  animation: huerotator 10s infinite;
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(65deg);
    filter: hue-rotate(65deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}