* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@font-face {
  font-family: "Evolve";
  src: url("fonts/evolveBold.otf");
}

@font-face {
  font-family: "EvolveLight";
  src: url("fonts/evolveLight.otf");
}

.pp-tableCell {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 80vw;
  height: 80vh;
  /* background-color: #fff; */
}

#page4 iframe {
  max-width: 800px;
  max-height: 500px;
  width: 80vw;
  height: 50vh;
  display: block;
  margin: 0 auto;
  border: 0.5px solid #fff;
  padding: 8px;
}

.section {
  width: 100vw;
  height: 100vh;
}

#page1 {
  background: linear-gradient(#e66465, #40007c);
  animation: huerotator 10s infinite;
}



#page1 h1 {
  text-align: center;
  font-family: "Evolve";
  font-size: 8em;
  color: #daff73;
  text-shadow: #fff 0 0 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#page1 p {
  text-align: center;
  font-family: "EvolveLight";
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translateX(-50%);
  letter-spacing: 10px;
  color: #fff;
}


.boxBase {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
}

.boxBase>div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(180, 234, 255);
  border: 1px solid #fff;

}

.boxBase>.top {
  transform: translateY(100px) rotateX(-90deg);
}

.boxBase>.bottom {
  transform: translateY(-100px) rotateX(90deg);
}

.boxBase>.front {
  transform: translateZ(100px);
}

.boxBase>.back {
  transform: translateZ(-100px) rotateX(180deg);
}

.boxBase>.left {
  transform: translateX(-100px) rotateY(-90deg);
}

.boxBase>.right {
  transform: translateX(100px) rotateY(90deg);
}

#scene {
  perspective: 1000px;
}

#scene {
  perspective: 1000px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
}

.boxBase {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  animation: turnAround 30s linear 0s infinite normal none running;
}

@keyframes turnAround {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

#page2 {
  background: linear-gradient(#40007c, #d2ad75);
  animation: huerotator 10s infinite;
}

#page3 {
  background: linear-gradient(#e66465, #40007c);
  animation: huerotator 10s infinite;
}

#page4 {
  background: linear-gradient(#e66465, #40007c);
  animation: huerotator 10s infinite;
}

#page5 {
  background: linear-gradient(#e66465, #40007c);
  animation: huerotator 10s infinite;
}

@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(65deg);
    filter: hue-rotate(65deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

.sectionTitle {
  font-family: "Evolve";
  font-size: 7rem;
  color: #daff73;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 80px;
}

hr {
  height: 8px;
  transform: skew(310deg)
}

.photo {
  width: 50%;
  height: 100%;
  /* background-color: #fff; */
  background-image: url(img/profile.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
}

.text h1 {
  color: #fff;
  font-size: 5rem;
  font-family: "EvolveLight";
  padding: 30px;
}

.text p {
  color: #fff;
  padding: 30px;
  font-family: "EvolveLight";
  line-height: 2;
}

.text p::first-line {
  font-weight: 800;
  font-size: 1.5rem;
}


.text b {
  font-family: "Evolve";
}


.textbox {
  margin-top: 50px;
  width: 100%;
  height: 50vh;
  display: flex;

  /* background-color: #fff; */
}

@media all and (min-width:480.1px) {
  .sp_br {
    display: none;
  }
}












@media all and (max-width:480px) {
  #page1 h1 {
    display: block;
    width: 100vw;
    font-size: 18vw;
  }

  .sectionTitle {
    display: block;
    width: 100%;
    font-size: 12vw;
  }

  .photo {
    width: 100%;
    height: 50%;
  }

  .text h1 {
    font-size: 3rem;
    padding: 20px 0 0 0;
  }

  .text p {
    padding: 0;
  }

}

@media all and (max-width:600px) {
  .textbox {
    flex-wrap: wrap;
  }
}